<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css}"
	rel="stylesheet"></link>
<link href="/css/fullcalendar.min.css"
	th:href="@{/css/fullcalendar.min.css}" rel="stylesheet"></link>
<link href="/css/fullcalendar.print.min.css"
	th:href="@{/css/fullcalendar.print.min.css}" rel="stylesheet"
	media='print'></link>
<link href="/css/cal/cal.css" th:href="@{/css/cal/cal.css}"
	rel="stylesheet"></link>

<script src="/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
<script src="/js/lib/jquery-ui.min.js"
	th:src="@{/js/lib/jquery-ui.min.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js"
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js}"></script>
<script src="/js/lib/fullcalendar.min.js"
	th:src="@{/js/lib/fullcalendar.min.js}"></script>
<script src="/js/lib/locale-all.js" th:src="@{/js/lib/locale-all.js}"></script>
<script src="/js/cal/cal.js" th:src="@{/js/cal/cal.js}"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div id="gnavi" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><img id="reload" class="nav-icon" src="/icon/reload.png"
					th:src="@{/icon/reload.png}" alt="再表示" title="再表示"></img></li>
				<li><img id="bus" class="nav-icon" src="/icon/bus.png"
					th:src="@{/icon/bus.png}" alt="運行状況" title="運行状況"></img></li>
				<li><img id="event1" class="nav-icon" src="/icon/event.png"
					th:src="@{/icon/event.png}" alt="夏祭り" title="夏祭り"></img></li>
				<li><img id="event2" class="nav-icon" src="/icon/event.png"
					th:src="@{/icon/event.png}" alt="学校イベント" title="学校イベント"></img></li>
			</ul>
			<p id="currentTime" class="navbar-text navbar-right">
			</p>
		</div>
	</nav>

	<div id='calendar'></div>

	<div id="modal-default" data-izimodal-title="バス運行状況">
		<img id="busDetail" src="/image/bus_detail.png"
			th:src="@{/image/bus_detail.png}" alt="運行状況詳細" title="運行状況詳細"></img>
	</div>

	<div id="modal-event1" data-izimodal-title="夏祭り">
		<img id="event1" src="/image/fes.jpg" th:src="@{/image/fes.jpg}"
			alt="夏祭り" title="夏祭り"></img>
	</div>

	<div id="modal-event2" data-izimodal-title="学校イベント">
		<img id="event2" src="/image/school.jpg" th:src="@{/image/school.jpg}"
			alt="学校イベント" title="学校イベント"></img>
	</div>
</body>
</html>
